@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body{
    background-color: #f6f9fc;
    font-family: Nanum+Gothic;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 30px;
    font-size: 30px;
    margin-bottom: 35px;
}



.range {
	background: #fff;
	height: 2rem;
	width: 55%;
	border-radius: 5rem;
	box-shadow: 1px 5px 5px rgba(black, 0.3);

	display: flex;
	align-items: center;
	justify-content: center;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 80%;
	height: 100%;

}
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 16px;
        width: 16px;
        border: 1px solid;
		border-radius: 50%;
		background: #ffffff;
		margin-top: -5px;
		box-shadow: 1px 1px 2px rgba(#000, 0.5);

		
    }
    
    input[type="range"]:focus{
        outline: none;
    }

	input[type="range"]::-webkit-slider-runnable-track {
		width: 60%;
		height: 9px;
		background: #bdbdbd;
		border-radius: 3rem;

		transition: all 0.5s;
	}

	input[type="range"]:hover::-webkit-slider-runnable-track {
		background: #34558b;
	}

.controls .controls_btns{
    margin-bottom: 30px;
}

.controls_btns button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0,08);
    border: 2px solide rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;

}

.canvas {
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    float: left;
    box-shadow:  4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 180px;
}

.typeSort{
    display: flex;
    flex-direction: row;
}

.controls_colors{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
}

.controls .sort{
    display: flex;
    flex-direction: column;
}

.controls_colors .controls_color{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin : 3px;
    cursor: pointer;
    box-shadow:  4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls .controls_range{
    margin-bottom: 30px;
    writing-mode: vertical-rl;
}

.controls_range::-webkit-slider-thumb{
    border-radius: 50%;
}

#jsRange{
    border-radius: 50%;
    margin-top: 35px;
}
